<app-site-header></app-site-header>

<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
  <div class="container">
    <div class="bread-inner">
      <div class="row">
        <div class="col-12">
          <h2>Services</h2>
          <ul class="bread-list">
            <li><a href="index.html">Acceuil</a></li>
            <li><i class="icofont-simple-right"></i></li>
            <li class="active">Services</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start service -->
<section class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2 >Découvrer nos services</h2>
          <img src="../../../../assets/img/section-img.png" alt="#" />
          <p>
          Nous proposons une gamme variée de services visant à améliorer le bien-être des personnes âgées du 3è âge (PTA).
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <!-- <i class="icofont icofont-prescription"></i> -->
          <i class="icofont icofont-unique-idea"></i>
       
          <h4><a href="service-details.html">Assistance psycho-sociale</a></h4>
          <p>
            L'Assistance Psycho-Sociale offerte aux PTA vise à fournir un soutien holistique, intégrant des aspects psychologiques et sociaux pour promouvoir leur bien-être mental et émotionnel.</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <!-- <i class="icofont icofont-xray"></i> -->
          <i class="icofont  icofont-wink-smile"></i>
         
          <h4><a href="service-details.html">Hygiène corporelle</a></h4>
          <p>
            Le service d'hygiène corporelle pour les PTA vise à garantir leur maintien dans des conditions optimales de propreté et de confort, favorisant ainsi leur bien-être physique et psychologique.
          </p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="icofont icofont-snowy-thunder-sunny"></i>
          <h4>
            <a href="service-details.html"
              >Assainissement de l'environnement vital</a
            >
          </h4>
          <p>
            L'assainissement de l'environnement vital pour les PTA consiste en des mesures visant à créer un cadre de vie sain et sécurisé, favorisant leur santé globale et leur qualité de vie.
          </p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="icofont  icofont-holding-hands"></i>
          <h4>
            <a href="service-details.html"
              >Accompagnement dans les déplacements</a
            >
          </h4>
          <p>
           Ce service consiste à fournir un soutien attentif et sécurisé pour faciliter leurs déplacements quotidiens, favorisant ainsi leur autonomie et leur participation active à la vie sociale.
          </p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="icofont icofont-ambulance-cross"></i>
          <h4>
            <a href="service-details.html">Accompagnement hôpital et autres</a>
          </h4>
          <p>

            L'accompagnement à l'hôpital et dans d'autres situations similaires pour les PTA implique un soutien dévoué et attentif visant à assurer leur confort, leur sécurité et à faciliter leur expérience lors de consultations médicales ou d'autres démarches de santé.          </p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="icofont icofont-cart"></i>
          <h4>
            <a href="service-details.html">Courses et formalités</a>
          </h4>
          <p>
            La gestion des courses et des formalités pour les PTA comprend l'assistance dans l'achat de produits essentiels et le soutien administratif, simplifiant ainsi leur quotidien.
          </p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="icofont icofont-users-social"></i>
          <h4>
            <a href="service-details.html">Gestion de visites</a>
          </h4>
          <p>
            La gestion des visites pour les PTA implique un accompagnement organisé et attentionné, visant à favoriser des interactions sociales positives et à assurer leur bien-être lors de rencontres familiales, amicales ou médicales.
          </p>
        </div>
        <!-- End Single Service -->
      </div>

      <div class="col-lg-4 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="icofont icofont-climbing"></i>
          <h4>
            <a href="service-details.html">Anniversaire</a>
          </h4>
          <p>
            La célébration d'anniversaires pour les PTA consiste à organiser des événements spéciaux et chaleureux, offrant ainsi des moments joyeux et mémorables qui contribuent à leur bien-être émotionnel et social.
          </p>
        </div>
        <!-- End Single Service -->
      </div>

      <div class="col-lg-4 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="icofont icofont-island-alt"></i>
          <h4>
            <a href="service-details.html">Sorties récréatives</a>
          </h4>
          <p>
            L'organisation de sorties récréatives pour les PTA englobe la planification d'activités divertissantes et enrichissantes, favorisant ainsi leur bien-être social et leur épanouissement au sein d'un cadre convivial.
          </p>
        </div>
        <!-- End Single Service -->
      </div>

      <div class="col-lg-4 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="icofont  icofont-thermometer-alt"></i>
          <h4>
            <a href="service-details.html">Contrôle de la température</a>
          </h4>
          <p>
            Le contrôle de la température pour les PTA comprend la surveillance attentive des conditions thermiques de leur environnement, garantissant ainsi leur confort et leur bien-être physique au quotidien.
          </p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="icofont icofont-test-tube"></i>
          <h4>
            <a href="service-details.html">Contrôle du taux de glycémie</a>
          </h4>
          <p>
            Le contrôle du taux de glycémie pour les PTA implique la surveillance régulière des niveaux de sucre dans le sang, contribuant ainsi à maintenir une santé optimale et à gérer efficacement les conditions liées au métabolisme du glucose.

          </p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <!-- Start Single Service icofont-stethoscope-alt -->
        <div class="single-service">
          <i class="icofont icofont-test-tube-alt"></i>
          <h4>
            <a href="service-details.html">Contrôle de la tension artérielle</a>
          </h4>
          <p>
            Le contrôle de la tension artérielle pour les PTA consiste en la vérification régulière de la pression sanguine, contribuant ainsi à la gestion proactive de la santé cardiovasculaire et au maintien d'une stabilité physique.
          </p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="icofont icofont-medical-sign-alt"></i>
          <h4>
            <a href="service-details.html">Contrôle des prises de médicaments</a>
          </h4>
          <p>
            Le contrôle des prises de médicaments pour les PTA englobe la supervision attentive et la gestion rigoureuse de leur plan médicamenteux, garantissant ainsi la conformité aux prescriptions et contribuant à maintenir leur santé de manière optimale.
          </p>
        </div>
        <!-- End Single Service -->
      </div>

      <div class="col-lg-4 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="icofont icofont-nurse"></i>
          <h4>
            <a href="service-details.html">Présence humaine permanente</a>
          </h4>
          <p>
            La présence humaine permanente pour les PTA représente un accompagnement continu et bienveillant, assurant ainsi une compagnie constante pour répondre à leurs besoins émotionnels, sociaux et de sécurité.
          </p>
        </div>
        <!-- End Single Service -->
      </div>
      
      <div class="col-lg-4 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="icofont icofont-travelling"></i>
          <h4>
            <a href="service-details.html">Tourisme</a>
          </h4>
          <p>
            Le tourisme pour les PTA implique l'organisation de voyages adaptés à leurs besoins, offrant des expériences enrichissantes tout en veillant au confort et à la sécurité, favorisant ainsi leur bien-être global.
          </p>
        </div>
        <!-- End Single Service -->
      </div>
      
    </div>
  </div>
</section>
<!--/ End service -->
<div class="clients overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <div class="owl-carousel clients-slider">
          <div class="single-clients">
            <img src="../../../../assets/img/partner/a.png" alt="client1" />
          </div>
  
          <div class="single-clients">
            <img src="../../../../assets/img/partner/c.png" alt="#" />
          </div>
          <div class="single-clients">
            <img src="../../../../assets/img/partner/d.png" alt="#" />
          </div>
          <div class="single-clients">
            <img src="../../../../assets/img/partner/e.png" alt="#" />
          </div>
     
          <div class="single-clients">
            <img src="../../../../assets/img/partner/g.png" alt="#" />
          </div>
    
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Start Newsletter Area -->
<section class="newsletter section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <!-- Start Newsletter Form -->
        <div class="subscribe-text">
          <h6>S'incrire à la newsletter</h6>
          <p class="">
            Inscrivez-vous pour être au parfum de nouvelles informations ou
            actualités.
          </p>
        </div>
        <!-- End Newsletter Form -->
      </div>
      <div class="col-lg-6 col-12">
        <!-- Start Newsletter Form -->
        <div class="subscribe-form">
          <form action="assets/mail/mail.php" method="get" target="_blank" class="newsletter-inner">
            <input name="EMAIL" placeholder="Votre adresse email" class="common-input" onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Your email address'" required="" type="email" />
            <button class="btn">S'inscrire</button>
          </form>
        </div>
        <!-- End Newsletter Form -->
      </div>
    </div>
  </div>
</section>
<!-- /End Newsletter Area -->

<app-site-footer></app-site-footer>
