.logoAAD{

    width: 100px;
    height: 90px;
margin-bottom: 5px;

    /* background-color: rgb(23, 154, 226);
    background-color: rgb(17, 140, 232);
    background-color: rgb(179, 224, 229);
    background-color: #b3e0e5;
    background-color: rgb(196, 29, 47);
    background-color: rgb(61, 198, 242);
    background-color: rgb(30, 180, 230); */
    

}