<app-site-header></app-site-header>
<!-- Breadcrumbs -->
<div class="breadcrumbs-apropos overlay">
  <div class="container">
    <div class="bread-inner">
      <div class="row">
        <div class="col-12">
          <h2>A Propos</h2>
          <ul class="bread-list">
            <li><a href="index.html">Acceuil</a></li>
            <li><i class="icofont-simple-right"></i></li>
            <li class="active">A Propos</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbs -->
<!-- Start Why choose -->
<section class="why-choose section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>A propos de AAD</h2>
          <img src="../../../../assets/img/section-img.png" alt="#" />
          <p>Une entreprise d'Assistance et d'Aide à Domicile aux <strong>personnes du
              troisième âge(PTA)</strong></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12">
        <!-- Start Choose Left -->
        <div class="choose-left">
          <h3>Qui sommes-nous</h3>
          <p style="text-align: justify">
            Aujourd’hui les mentalités évoluent en faveur de l’assistance à domicile, pour les <strong>Personnes de
              Troisième Age (PTA)</strong>, qui sont de plus en plus nombreuses à avoir besoin d'une prise en charge à
            la maison. L'Assistance et l’aide à Domicile (AAD) regroupe entre autres, des services sociaux de vie qui
            permettent aux <strong>PTA</strong> de bénéficier de bons traitements à domicile, dans leur cadre de vie
            habituel, et de façon sécuritaire tout en leur prolongeant la vie. Ainsi les PTA gardent leurs repères,
            échappent à la solitude destructive et se sentent en famille au lieu d’évoluer dans un sentiment de rejet.
          </p>
          <p class="mt-n4">L'<strong>Assistance et l’aide à Domicile (AAD)</strong> présente de nombreux avantages
            économiques, psychologiques et sanitaires. Elle participe grandement à la prise en charge de la
            <strong>PTA</strong> par elle-même mais surtout par ses enfants. Ce service d’assistance à domicile a pour
            cibles toutes les Personnes de Troisième Age confrontées à une solitude prononcée, à une perte partielle ou
            totale d’autonomie suite à une maladie, un accident ou pour cause d’incapacité physique et incapables de
            recourir à leurs propres aptitudes pour se mouvoir dans le temps et dans l’espace avec comme corollaire le
            vieillissement.
          </p>
        </div>
        <!-- End Choose Left -->
      </div>
      <div class="col-lg-6 col-12">

        <div class="choose-right">

          <div class="">
            <div class="promo-video">
              <div class="waves-block">
                <div class="waves wave-1"></div>
                <div class="waves wave-2"></div>
                <div class="waves wave-3"></div>
              </div>
            </div>

            <!-- <a href="https://www.youtube.com/watch?v=RFVXy6CRVR4" class="video video-popup mfp-iframe"><i
                class="fa fa-play"></i></a> -->
          </div>
        </div>

      </div>

      <p class="mt-1">Au Bénin, et à notre connaissance, de telles initiatives visant à apporter appui et soutien suivi
        et continue aux personnes âgées restent
        imperceptibles du côté de l’assistance publique qui ne porte assistance qu’aux seniors malades dans un cadre
        hospitalier. Ainsi donc, ce
        rôle de plus en plus important (sachant que l’espérance de vie ne fait qu’augmenter chez les vieux retraités)
        incombe aux familles qui ne
        maîtrisent pas nécessairement les formes d’assistance et de suivi psychologique et médical appropriés
        susceptibles de mieux traiter et de
        sécuriser leur vieux parents à bout de force.
      </p>
    </div>
  </div>
</section>

<section class="why-choose section" style="margin-top: -110px !important;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">

        <div class="choose-left">
          <h3>Quel sont les objectifs spécifiques de AAD ?</h3>
          <p>Dans le cadre d’une organisation professionnelle et volontaire, <strong>AAD</strong> prête assistance
            à domicile aux
            personnes du
            troisième âge, afin de les seconder par une présence active, serviable et réconfortante quelques jours
            par semaine et les
            amener à découvrir de nouvelles raisons de vivre dans un contexte de suivi sanitaire vigilant. </p>
          <p>Ces objectifs spécifiques sont. </p>
          <div class="row">
            <div class="col-lg-12">
              <ul class="list">
                <li><i class="fa fa-caret-right"></i>Donner le sourire et de l’espoir aux <strong>PTA</strong> en
                  vue d’un meilleur
                  regard sur leur fin de vie. </li>
                <li><i class="fa fa-caret-right"></i>Augmenter la longévité de la <strong>PTA</strong> grâce à un
                  suivi
                  personnalisé et à travers une bonne hygiène adéquate.</li>
                <li><i class="fa fa-caret-right"></i>Faire disparaitre la solitude destructrice à travers une
                  présence humaine renouvelée autour de lui.
                </li>
                <li><i class="fa fa-caret-right"></i>Assainir, améliorer et renforcer l’environnement vital de la
                  <strong>PTA</strong> y compris son alimentation source de problèmes chroniques.
                </li>
                <li><i class="fa fa-caret-right"></i>Promouvoir des relations inter séniors, séniors/jeunes,
                  séniors/soignants afin que de la multiplicité des approches relationnelles
                  naissent un regain d’intérêt à la vie dont les séniors sont menacés involontairement ou non de
                  se soustraire faute de convivialité
                  sociale autour d’eux.
                </li>
                <li><i class="fa fa-caret-right"></i>la <strong>PTA</strong> qui englobe des prestations variées
                  touchant à son
                  environnement immédiat bénéficie à terme d’une prise en charge
                  intégrale pouvant contribuer grandement à sa longévité.</li>
                <li><i class="fa fa-caret-right"></i>Enrichir l’emploi du temps des <strong>PTA</strong> et les
                  conduire à de
                  petites activités de maintien de soi (promenades, voyages, spectacles,
                  sport, sport cérébral etc.) susceptibles de leur permettre de croire à une vie renouvelée.
                </li>
                <li><i class="fa fa-caret-right"></i>Apaiser les enfants et relations des <strong>PTA</strong> à
                  travers la
                  garantie d’une assistance active et renouvelée dévolue par <strong>AAD</strong> à leurs
                  parents, malgré leur absence prolongée où non auprès de ces derniers. Cette situation pourra
                  opérer en eux une double
                  libération (présence physique allégée, pensées négatives, sentiments de peur et perturbations
                  psychiques évacuées)
                  susceptible de galvaniser davantage le potentiel au travail des populations actives dans leurs
                  diverses structures de production.
                </li>

              </ul>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
</section>

<section class="about-area section mt-n5" style="margin-top: -100px !important;">
  <div class="container-fluid ">
    <div class="row m-0">
      <div class="col-lg-6 col-md-12 ">
        <div class="about-image">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 p-0">
        <div class="about-content">
          <!-- <span>Quel Rôle ?</span> -->
          <h2>Quel Rôle ?</h2>
          <p>Le rôle de <strong>AAD</strong> consiste à s’occuper du bien-être social et vital de la
            <strong>PTA</strong>, il coordonne les interventions paramédicales auprès de la
            PTA qui bénéficie de ce suivi personnalisé.
          </p>
          <ul>
            <li><i class="icofont-tick-mark"></i>L’<strong>AAD</strong> accompagne la <strong>PTA</strong> dans son
              quotidien, organise et répond dans les limites du contrat à la plupart des préoccupations
              existentielles de sa vie. </li>
            <li><i class="icofont-tick-mark"></i>L’<strong>AAD</strong> impose une propreté dans l’environnement de la
              <strong>PTA</strong> et met l’accent sur son bien-être corporel.
            </li>
            <li><i class="icofont-tick-mark"></i>L’<strong>AAD</strong> est en quelque sorte son vade me cum, son fidèle
              compagnon (son assistant à tout faire) </li>
            <li><i class="icofont-tick-mark"></i>L’<strong>AAD</strong> services ne dispense pas de soins médicaux
              proprement dits, mais coordonne l'action des intervenants médecins généralistes,
              médecins spécialistes, tradi-thérapeutes qui apportent des soins aux <strong>PTA</strong> dans un cadre
              coordonné, plus rapide et plus sécuritaire.
            </li>
            <li><i class="icofont-tick-mark"></i>L’<strong>AAD</strong> c’est le fidèle intermédiaire entre la famille,
              les structures de santé et les <strong>PTA</strong></li>
            <li><i class="icofont-tick-mark"></i>L’<strong>AAD</strong>, c’est la solution idéale pour remplir un rôle
              d’assistance de premier plan dans le quotidien des PTA.</li>
          </ul>
          <p>

          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faq-area section mt-n5">
  <div class="container">
    <div class="row faq-wrap">
      <div class="col-lg-12">
        <div class="faq-head">

          <h2>Quels sont les avantages de ce système</h2>
          <p class="py-5 mt-n5">L'objectif du maintien à domicile est d'organiser la qualité de vie de la personne et de
            préserver son autonomie dans des conditions optimales
            de confort vital et sécuritaire. IL s’agira d’organiser :</p>
        </div>
        <div class="faq-item">
          <ul class="accordion">
            <li class="wow fadeInUp" data-wow-delay=".3s">
              <a>La sécurité et l’assistance du PTA à domicile </a>
              <p>La prestation médicale à domicile se fait aussi en complicité et sous le contrôle du médecin traitant.
                Le prestataire assiste le corps médical,
                vérifie l'observance des traitements et des prescriptions. La prestation d’assistance à domicile
                (<strong>AAD</strong>) peut être demandée directement par
                le bénéficiaire.
              </p>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".4s">
              <a>Un service de qualité </a>
              <p>

                Notre structure de prestation est certifiée et reconnue par l’ <strong>ONMB</strong> (l’Ordre National
                des Médecins du Bénin). En d'autres termes, elle est
                soumise à une norme de qualité en matière de prestations sociales de vie. Soucieuse de développer la
                qualité, l’<strong>AAD</strong> forme l'entourage du
                patient et tente de prévenir les problèmes d'hygiène à domicile en rappelant les règles d'hygiène de
                rigueur afin d’assister le PTA dans un
                environnement sain. UN adage français ne dit-il pas ?
                <strong> « Un esprit sain dans un corps sain, c’est la plus grande force dans la plus grande faiblesse »
                </strong>
              </p>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".5s">
              <a>C'est bon pour le moral </a>
              <p>C’est un joyau de tranquillité et de soulagement du côté aussi bien des bénéficiaires que des
                souscripteurs
                C’est la vie paisible qui assure la longévité maximale des PTA.
                L'assistance médicale à domicile propose une approche plus humaine de la prise en charge du patient :
                les prestataires de services sont à
                l'écoute des patients et savent les rassurer.
              </p>
            </li>

            <li class="wow fadeInUp" data-wow-delay=".7s">
              <a>Un environnement humain favorable</a>
              <p>Le rôle de l'entourage de la PTA dans la recherche de son bien-être est important. Le soutien affectif
                permanent est possible à domicile
                pour les parents et les amis, les heures de visites n’étant pas imposées comme à l'hôpital.
              </p>
            </li>

            <li class="wow fadeInUp" data-wow-delay=".7s">
              <a>Une vie retrouvée (regagnée)</a>
              <p>L'assistance médicale à domicile permet aux PTA de mieux vivre leur VIEILLESSE et de se soigner tout en
                entretenant une vie sociale et
                affective. Par exemple, l’assistance est capable d’offrir des promenades à son sujet. Des activités
                récréatives sont, initiées et de petites
                surprises festives imaginées pour leur agrémenter l’existence.
              </p>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".7s">
              <a>Diminution des dépense</a>
              <p>La prise en charge à domicile est bien moins coûteuse que l'hôpitalisation. L'assistance médicale à
                domicile est moins chère qu'une
                hospitalisation classique. Elle contribue à baisser les dépenses de santé. En outre, l'entourage de la
                PTA n'a pas de frais supplémentaires,
                car il n'a pas à se déplacer (gain de temps en vue d’autres activités récurrentes) en vue de prendre
                soin de son parent…
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>




<section class="our-mission-area ptb-10 pt-0">
  <div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col-lg-6 col-md-12 p-0">
        <div class="our-mission-content">
      
          <h4 style="color: rgb(30, 180, 230);"><strong>Mot du Président Directeur Général de AAD.</strong></h4>
          <p><strong>ILS NE MÉRITENT PAS ÇA</strong></p>
          <p>L'Assistance et l'Aide à Domicile (AAD) aux Personnes du Troisième Âge (P.T.A.) est pour nous, mieux qu'uun devoir filial vis-à-vis de nos parents aujourd'hui vieux et parfois totalement dépendants.
            Voici des personnes qui ont donné leur vie aux enfants, à la famille, à la nation avec amour et abnégation
            mais qui malheureusement dans leur état de vieillesse sont considérées comme des indésirables, des charges
            dont on est malheureusement prêt à s'en séparer. </p>
          <p><strong>ILS NE MÉRITENT PAS ÇA</strong></p>
          <p>Le prolongement de plus en plus continu de la vie aujourd'hui grâce aux avancées technologiques et aux
            projets scientifiques, entraîne comme corollaire une série de problèmes humains dont principalement le
            stress, la solitude, le désespoir, aussi les maladies chroniques et de longue durée, finalement pour manque
            d'attention, d'affection, d'amour filial et de soins adéquats, et se sentant abandonnées, appellent la mort
            de tous leurs vœux. Ce qui finit par arriver. </p>
          <p><strong>ILS NE MÉRITENT PAS ÇA.</strong></p>
          <p>L'existence de AAD est la solution adaptée à la gestion efficiente et efficace des problèmes des PTA à leur
            donner l'espoir d'une vieillesse heureuse, d'une longévité assurée, d'une fierté et d'une joie retrouvées de
            vivre une vieillesse sans crainte, sans peur.
            Nous nous sommes donc engagés à fêter les vivants et non les morts.
            AAD c'est un accompagnement à visage humain.
            La vieillesse est un privilège dont tout le monde ne bénéficie pas.
            Vieillissez sans peur le reste AAD s'en charge.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 p-0">
        <div class="our-mission-image">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="team" class="team section overlay" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>L'équipe de AAD</h2>
          <img src="assets/img/shield.JPG" alt="#"  style="width: 60px; height: 60px; margin-top: -10px;">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12" data-tilt>

        <div class="single-team wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1s">
          <div class="t-head">
            <img src="assets/img/team1.jpg" alt="#">
            <!-- <div class="t-icon">
              <a href="appointment.html" class="btn">Get Appointment</a>
            </div> -->
          </div>
          <div class="t-bottom">
            <p>Administrateur de santé publique</p>
            <h2><a href="doctor-details.html">Collis Molate</a></h2>
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-6 col-12 " data-tilt>

        <div class="single-team wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1s">

          <div class="t-head">
            <img src="assets/img/team1.jpg" alt="#">
            <!-- <div class="t-icon">
              <a href="appointment.html" class="btn">Get Appointment</a>
            </div> -->
          </div>

          <div class="t-bottom">
            <p>Technicienne</p>
            <h2><a href="doctor-details.html">Domani Plavon</a></h2>
          </div>

        </div>

      </div>
      <div class="col-lg-3 col-md-6 col-12 " data-tilt>

        <div class="single-team wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="1s">

          <div class="t-head">
            <img src="assets/img/team1.jpg" alt="#">
            <!-- <div class="t-icon">
              <a href="appointment.html" class="btn">Get Appointment</a>
            </div> -->
          </div>

          <div class="t-bottom">
            <p>Auxilliaire de vie sociale</p>
            <h2><a href="doctor-details.html">John Mard</a></h2>
          </div>

        </div>

      </div>
      <div class="col-lg-3 col-md-6 col-12" data-tilt>

        <div class="single-team wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">

          <div class="t-head">
            <img src="assets/img/team1.jpg" alt="#">
            <!-- <div class="t-icon">
              <a href="appointment.html" class="btn">Get Appointment</a>
            </div> -->
          </div>

          <div class="t-bottom">
            <p>AVS</p>
            <h2><a href="doctor-details.html">Amanal Frond</a></h2>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>


<section class="newsletter section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <!-- Start Newsletter Form -->
        <div class="subscribe-text">
          <h6>S'incrire à la newsletter</h6>
          <p class="">
            Inscrivez-vous pour être au parfum de nouvelles informations ou
            actualités.
          </p>
        </div>
        <!-- End Newsletter Form -->
      </div>
      <div class="col-lg-6 col-12">
        <!-- Start Newsletter Form -->
        <div class="subscribe-form">
          <form action="assets/mail/mail.php" method="get" target="_blank" class="newsletter-inner">
            <input name="EMAIL" placeholder="Votre adresse email" class="common-input" onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Your email address'" required="" type="email" />
            <button class="btn">S'inscrire</button>
          </form>
        </div>
        <!-- End Newsletter Form -->
      </div>
    </div>
  </div>
</section>

<!--/ End Why choose -->


<app-site-footer></app-site-footer>