		<!-- Preloader -->
    <div class="preloader">
      <div class="loader">
          <div class="loader-outter"></div>
          <div class="loader-inner"></div>

          <div class="indicator"> 
              <svg width="16px" height="12px">
                  <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                  <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
              </svg>
          </div>
      </div>
  </div>
  <!-- End Preloader -->

<!-- Header Area -->
<header class="header">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-5 col-12">
          <!-- Contact -->
          <ul class="top-link">
            <li>
              <a href="#" class="font-weight-bold">Assistance et Aide à Domicile
                <span class="text-danger">aux personnes du 3è âge</span>
              </a>
            </li>
          </ul>
          <!-- End Contact -->
        </div>
        <div class="col-lg-6 col-md-7 col-12">
          <!-- Top Contact -->
          <ul class="top-contact">
            <li><i class="fa fa-map-marker"></i> Bénin | Cotonou, Cadhehoun</li>
            <li>
              <i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">info@aad-pta.com</a>
            </li>
          </ul>
          <!-- End Top Contact -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Topbar -->
  <!-- Header Inner -->
  <div class="header-inner">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-12">
            <!-- Start Logo -->
            <!-- <div class="logo">
              <a href="index.html"><img class="logoAAD" src="../../../../assets/img/logoAAD.JPG" alt="Logo" />
              </a>
            </div> -->
            
            <div class="logo" style="display: flex; align-items: center; ">
              <a href="index.html" style="
                  display: flex;
                  align-items: center;
                  text-decoration: none;
                ">
                <img class="logoAAD" src="../../../../assets/img/logoAAD.png" alt="Logo" />
                <div style="margin-left: 2px">
                  <img class="logoR" src="../../../../assets/img/aad.JPG" alt="Logo" style="width: 160px ; height: 60px; margin-top: -15px !important;" />
                </div>
              </a>
            </div>
            <!-- End Logo -->
            <!-- Mobile Nav -->
            <div class="mobile-nav"></div>
            <!-- End Mobile Nav -->
          </div>
          <div class="col-lg-8 col-md-9 col-12"  >
            <!-- Main Menu -->
            <div class="main-menu"  style="margin-left: 10%  !important;">
              <nav class="navigation">
                <ul class="nav menu">
                  <!-- <li class="active">
                    <a href="#">Accueil <i class="icofont-rounded-down"></i></a>
                    <ul class="dropdown">
                      <li><a href="index.html">A propos</a></li>
                    </ul>
                  </li> -->
                  <li><a  href="">Accueil </a></li>
                  <!-- <li><a href="#">A propos </a></li> -->
                  <li>
                    <a href="#">Qui sommes-nous ? <i class="icofont-rounded-down"></i></a>
                    <ul class="dropdown">
                      <li><a href="/a-propos">A propos</a></li>
                      <li><a href="/contact" >Contactez-nous</a></li>
                    </ul>
                  </li>
                  
                  <li><a href="/services">Services</a></li>
                  <li><a href="/packs">Nos packs</a></li>
                  <!-- <li><a href="#">Rendez-vous</a></li> -->

                  <!-- <li>
                    <a href="#">Blogs <i class="icofont-rounded-down"></i></a>
                    <ul class="dropdown">
                      <li><a href="blog-single.html">Blog Details</a></li>
                    </ul>
                  </li> -->
                  <li><a href="/blogs">Blogs </a></li>
                  <li><a href="/faq" style="padding-right: 3px;">FAQ </a></li>

                  <!-- <li><a routerLink="/contact">Contactez-nous</a></li> -->
                </ul>
              </nav>
            </div>
            <!--/ End Main Menu -->
          </div>
          <div class="col-lg-1 col-12 d-md-block d-none "  >
            <div class="get-quote" >
              <a href="/login" class="btn"  >Se connecter</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Header Inner -->
</header>
<!-- End Header Area -->