<app-site-header></app-site-header>

<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h2>Questions fréquemment posées</h2>
                    <ul class="bread-list">
                        <li><a href="index.html">Acceuil</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li class="active">Faq</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Pricing Table -->

<section class="faq-area section">
    <div class="container">
        <div class="row faq-wrap">
            <div class="col-lg-12">
                <div class="faq-head">
                    <h2>FAQ</h2>
                </div>
                <div class="faq-item">
                    <ul class="accordion">
                        <li class="wow fadeInUp" data-wow-delay=".3s">
                            <a>AAD qu’est-ce que c’est?</a>
                            <p>Aujourd’hui les mentalités évoluent en faveur de l’assistance à domicile, pour les
                                Personnes de Troisième Age (PTA), qui sont
                                de plus en plus nombreuses à avoir besoin d'une prise en charge à la maison.
                                <br> <strong>AAD</strong> désigne Assistance et Aide à Domicile et regroupe.
                                regroupe entre autres, des services sociaux de vie qui permettent aux PTA de
                                bénéficier de bons traitements à domicile, dans leur cadre de vie habituel, et de façon
                                sécuritaire tout en leur prolongeant la
                                vie. Ainsi les PTA gardent leurs repères, échappent à la solitude destructive et se
                                sentent en famille au lieu d’évoluer dans un
                                sentiment de rejet.
                                <br>
                                AAD présente de nombreux avantages économiques, psychologiques et sanitaires. Elle
                                participe grandement à la prise en charge de la PTA par elle-même mais surtout par ses
                                enfants.
                                <br>
                                Il ne faut pas confondre l’assistance et l'aide à domicile (AAD) avec l’hospitalisation
                                à Domicile (HAD)
                                L’assistance et l'aide à domicile (AAD) est un service à caractère essentiellement
                                social, il est un intermédiaire entre la PTA et les
                                services de santé. Elle permet en outre aux proches de pouvoir lui rendre visite sans
                                contrainte d’horaires. Elle n’altère en rien l’ordinaire
                                quotidien de la personne.
                            </p>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay=".4s">
                            <a>Pourquoi ce service concerne uniquement les PTA ? </a>
                            <p>

                                Au Bénin, l'assistance aux personnes âgées est limitée dans le secteur public, laissant
                                souvent aux familles le fardeau de prendre en charge les seniors, sans toujours
                                maîtriser les formes d'assistance nécessaires. Des initiatives privées peuvent
                                contribuer à sensibiliser à ce problème, bien que son ampleur exacte soit difficile à
                                définir sans données chiffrées accessibles et crédibles.
                                <br>Ce service d’assistance à domicile a pour cibles toutes les Personnes de Troisième
                                Age confrontées à une solitude prononcée, à une
                                perte partielle ou totale d’autonomie suite à une maladie, un accident ou pour cause
                                d’incapacité physique et incapables de recourir à
                                leurs propres aptitudes pour se mouvoir dans le temps et dans l’espace avec comme
                                corollaire le vieillissement.
                            </p>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay=".5s">
                            <a>Quel est l'objectif principal de AAD ? </a>
                            <p>Dans le cadre d’une organisation professionnelle et volontaire, AAD prête assistance à
                                domicile aux personnes du
                                troisième âge, afin de les seconder par une présence active, serviable et réconfortante
                                quelques jours par semaine et les
                                amener à découvrir de nouvelles raisons de vivre dans un contexte de suivi sanitaire
                                vigilant.</p>
                        </li>

                        <li class="wow fadeInUp" data-wow-delay=".7s">
                            <a>Comment faire pour bénéficier de ce service ?</a>
                            <p>Il vous suffit de compléter le formulaire d'adhésion ou de faire la demande auprès du
                                cabinet BEST Sarl. Choisissez ensuite un pack adapté au PTA, effectuez le paiement via
                                un moyen de paiement éligible, et signez la convention d’assistance avec notre
                                prestataire spécialisé dans l’assistance et l'aide à domicile (AAD). Il peut être
                                approché soit par le médecin traitant, soit par le/la bénéficiaire lui-même, soit par un
                                parent à la PTA, soit par l’administration publique elle-même.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<!--/ End Pricing Table -->
<div class="clients overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="owl-carousel clients-slider">
                    <div class="single-clients">
                        <img src="../../../../assets/img/partner/a.png" alt="client1" />
                    </div>

                    <div class="single-clients">
                        <img src="../../../../assets/img/partner/c.png" alt="#" />
                    </div>
                    <div class="single-clients">
                        <img src="../../../../assets/img/partner/d.png" alt="#" />
                    </div>
                    <div class="single-clients">
                        <img src="../../../../assets/img/partner/e.png" alt="#" />
                    </div>

                    <div class="single-clients">
                        <img src="../../../../assets/img/partner/g.png" alt="#" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Start Newsletter Area -->
<section class="newsletter section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <!-- Start Newsletter Form -->
                <div class="subscribe-text">
                    <h6>S'incrire à la newsletter</h6>
                    <p class="">
                        Inscrivez-vous pour être au parfum de nouvelles informations ou
                        actualités.
                    </p>
                </div>
                <!-- End Newsletter Form -->
            </div>
            <div class="col-lg-6 col-12">
                <!-- Start Newsletter Form -->
                <div class="subscribe-form">
                    <form action="assets/mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                        <input name="EMAIL" placeholder="Votre adresse email" class="common-input"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'" required=""
                            type="email" />
                        <button class="btn">S'inscrire</button>
                    </form>
                </div>
                <!-- End Newsletter Form -->
            </div>
        </div>
    </div>
</section>
<!-- /End Newsletter Area -->

<app-site-footer></app-site-footer>