<app-site-header></app-site-header>

<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
  <div class="container">
    <div class="bread-inner">
      <div class="row">
        <div class="col-12">
          <h2>Nos packs</h2>
          <ul class="bread-list">
            <li><a href="index.html">Acceuil</a></li>
            <li><i class="icofont-simple-right"></i></li>
            <li class="active">Nos Packs</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbs -->

<!-- Pricing Table -->
<section class="pricing-table section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Nos services sont à des prix abordables.</h2>
          <img src="../../../../assets/img/section-img.png" alt="#" />
          <p>
            Nous sommes en mesure de vous assister dans le choix d'un forfait en tenant compte de l'état de santé du
            PTA.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Single Table -->
      <div class="col-lg-4 col-md-12 col-12">
        <div class="single-table">
          <!-- Table Head -->
          <div class="table-head">
            <!-- <div class="icon">
              <i class="icofont icofont-ui-cut"></i>
            </div> -->
            <h4 class="title">Pack Premium</h4>
            <div class="price">
              <p class="amount">100 000<span style="color: black">/ Par Mois</span></p>
            </div>
          </div>
          <div class="separator"></div>
          <!-- Table List -->
          <ul class="table-list">
            <li>
              <i class="icofont icofont-ui-check"></i>Interventions hebdomadaires : 7
            </li>
            <li>
              <i class="icofont icofont-ui-check"></i>Durée: 2h et plus
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Nombre d'intervenants : au moins 2
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Prise de température
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Prise de tension artérielle
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Prise de taux de glycémie
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Prise de la photo du jour
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Hygiène corporelle
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Hygiène environnementale
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Causerie de distraction
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Activités physiques légères
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Séances de relaxation
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Musicothérapie
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Support psychologique
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Autres...
            </li>
          </ul>
          <div class="table-bottom">
            <a class="btn" href="#" style="font-size:18px">S'ouscrire</a>
          </div>
          <!-- Table Bottom -->
        </div>
      </div>
      <!-- End Single Table-->
      <!-- Single Table -->
      <div class="col-lg-4 col-md-12 col-12">
        <div class="single-table">
          <!-- Table Head -->
          <div class="table-head">

            <h4 class="title">Pack Standard</h4>
            <div class="price">
              <p class="amount">85 000<span style="color: black">/ Par Mois</span></p>
            </div>
          </div>
          <div class="separator"></div>
          <!-- Table List -->
          <ul class="table-list">
            <li>
              <i class="icofont icofont-ui-check"></i>Interventions hebdomadaires : 5
            </li>
            <li>
              <i class="icofont icofont-ui-check"></i>Durée : 2h par passage
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Nombre d'intervenants : 2
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Prise de température
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Prise de tension artérielle
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Prise de taux de glycémie
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Prise de la photo du jour
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Hygiène corporelle
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Hygiène environnementale
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Causerie de distraction
            </li>
            <li class="cross">
              <i class="icofont icofont-ui-close"></i>Activités physiques légères
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Séances de relaxation
            </li>
            <li class="cross">
              <i class="icofont icofont-ui-close"></i>Musicothérapie
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Support psychologique
            </li>
            <li class="cross">
              <i class="icofont icofont-ui-close"></i>Autres...
            </li>

          </ul>
          <div class="table-bottom">
            <a class="btn" href="#" style="font-size:18px">S'ouscrire</a>
          </div>
          <!-- Table Bottom -->
        </div>
      </div>
      <!-- End Single Table-->
      <!-- Single Table -->
      <div class="col-lg-4 col-md-12 col-12">
        <div class="single-table">
          <!-- Table Head -->
          <div class="table-head">
            <!-- <div class="icon">
              <i class="icofont-heart-beat"></i>
            </div> -->
            <h4 class="title">Basic</h4>
            <div class="price">
              <p class="amount">50 000<span style="color: black">/ Par Mois</span></p>
            </div>
          </div>
          <div class="separator"></div>
          <!-- Table List -->
          <ul class="table-list">
            <li>
              <i class="icofont icofont-ui-check"></i>Interventions hebdomadaires : 3
            </li>
            <li>
              <i class="icofont icofont-ui-check"></i>Durée : 1h 30 min par passage
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Nombre d'intervenants : 1
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Prise de température
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Prise de tension artérielle
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Prise de taux de glycémie
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Prise de la photo du jour
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Hygiène corporelle
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Hygiène environnementale
            </li>
            <li class="">
              <i class="icofont icofont-ui-check"></i>Causerie de distraction
            </li>
            <li class="cross">
              <i class="icofont icofont-ui-close"></i>Activités physiques légères
            </li>
            <li class="cross">
              <i class="icofont icofont-ui-close"></i>Séances de relaxation
            </li>
            <li class="cross">
              <i class="icofont icofont-ui-close"></i>Musicothérapie
            </li>
            <li class="cross">
              <i class="icofont icofont-ui-close"></i>Support psychologique
            </li>
            <li class="cross">
              <i class="icofont icofont-ui-close"></i>Autres...
            </li>
          </ul>
          <div class="table-bottom">
            <a class="btn" href="#" style="font-size:18px">S'ouscrire</a>
          </div>
          <!-- Table Bottom -->
        </div>
      </div>
      <!-- End Single Table-->
    </div>

    <blockquote class="py-2" style="text-align: justify !important;">
      <i class="icofont-quote-left"></i> 
       De plus, nous comprenons que chaque personne du troisième âge a des besoins spécifiques. Nous sommes heureux de
      vous offrir la possibilité de discuter d'un <strong>pack personnalisé</strong> adapté à l'état de santé unique de
      chaque <strong>PTA</strong>. Les détails de ce pack peuvent être discutés en fonction de vos besoins spécifiques.
    </blockquote>
  </div>
</section>

<!--/ End Pricing Table -->
<div class="clients overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <div class="owl-carousel clients-slider">
          <div class="single-clients">
            <img src="../../../../assets/img/partner/a.png" alt="client1" />
          </div>
  
          <div class="single-clients">
            <img src="../../../../assets/img/partner/c.png" alt="#" />
          </div>
          <div class="single-clients">
            <img src="../../../../assets/img/partner/d.png" alt="#" />
          </div>
          <div class="single-clients">
            <img src="../../../../assets/img/partner/e.png" alt="#" />
          </div>
     
          <div class="single-clients">
            <img src="../../../../assets/img/partner/g.png" alt="#" />
          </div>
    
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Start Newsletter Area -->
<section class="newsletter section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <!-- Start Newsletter Form -->
        <div class="subscribe-text">
          <h6>S'incrire à la newsletter</h6>
          <p class="">
            Inscrivez-vous pour être au parfum de nouvelles informations ou
            actualités.
          </p>
        </div>
        <!-- End Newsletter Form -->
      </div>
      <div class="col-lg-6 col-12">
        <!-- Start Newsletter Form -->
        <div class="subscribe-form">
          <form action="assets/mail/mail.php" method="get" target="_blank" class="newsletter-inner">
            <input name="EMAIL" placeholder="Votre adresse email" class="common-input" onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Your email address'" required="" type="email" />
            <button class="btn">S'inscrire</button>
          </form>
        </div>
        <!-- End Newsletter Form -->
      </div>
    </div>
  </div>
</section>
<!-- /End Newsletter Area -->

<app-site-footer></app-site-footer>